.wcpc-block {
    display: block;
}

.wcpc-inline {
    display: inline;
}

.wcpc-lt {
    text-decoration: line-through;
}

.wcpc-pointer {
    cursor: pointer;
}

#wcpc-uploader {
    margin-bottom: 20px;

    text-align: center;
}

#wcpc-uploader img {
    display: inline;
}

#wcpc-uploader img.avatar {
    border: solid 3px #CCC;
    border-radius: 50%;
}