.wcpc-block {
    display: block;
}

.wcpc-inline {
    display: inline;
}

.wcpc-lt {
    text-decoration: line-through;
}

.wcpc-pointer {
    cursor: pointer;
}

#wcpc-uploader {
    margin-bottom: 20px;

    text-align: center;
}

#wcpc-uploader img {
    display: inline;
}

#wcpc-uploader img.avatar-48 {
    cursor: pointer;
    margin-left: 10px;
}

#wcpc-uploader img.avatar-48:hover {
    border: solid 2px #CCC;
    width: 1.5em;
}